<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg bg1 bg-lgrey"></div>
  <div class="bg bg2 bg-mgrey"></div>
  <div class="bg bg3 bg-dgrey"></div>
  <ion-list>
    <ion-item (click)="updatePicture()">Update Picture</ion-item>
    <ion-item (click)="changeUsername()">Change Username</ion-item>
    <ion-item (click)="changePassword()">Change Password</ion-item>
    <ion-item (click)="support()">Support</ion-item>
    <ion-item (click)="logout()">Logout</ion-item>
  </ion-list>
</ion-content>