<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-button (click)="openAddOverlay()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <!--ion-button (click)="presentFilter()">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>-->
      <ion-button (click)="toggleAllDetails()">
        <ion-icon slot="icon-only" name="list"></ion-icon>
      </ion-button>     
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg bg1 bg-lgrey"></div>
  <div class="bg bg2 bg-mgrey"></div>
  <div class="bg bg3 bg-dgrey"></div>

  <ion-card color="primary" [hidden]="!showOverlay">
    <ion-item>
      <ion-input type="text" [(ngModel)]="newExercise.name" placeholder="Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newExercise.weight" placeholder="Gewicht"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newExercise.fxf" placeholder="5x5"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newExercise.hatfield" placeholder="Hatfield"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" [(ngModel)]="newExercise.area" placeholder="Bereich"></ion-input>
    </ion-item>
    <ion-button color="tertiary" margin (click)="addExercise()">Hinzufügen</ion-button>
  </ion-card>

  <ion-list no-lines>
    <ion-card *ngFor="let exercise of exercisesObservable | async">
      <ion-card-header color="primary" routerLink="/details/{{exercise.name}}">
        <ion-card-title>
          {{ exercise.name }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="exercise.weight!==0" [hidden]="!showAllDetails">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-text>Gewicht</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>Hatfield</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>5x5</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text>{{ exercise.weight }} kg</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{ exercise.hatfield }} kg</ion-text>
            </ion-col>
            <ion-col>
              <ion-text>{{ exercise.fxf }} kg</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col color="primary">
              <ion-chip color="secondary">
                <ion-text>{{ exercise.area }}</ion-text>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>