<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg bg1 bg-lgrey"></div>
  <div class="bg bg2 bg-mgrey"></div>
  <div class="bg bg3 bg-dgrey"></div>

  <ion-card color="primary">
    <ion-card-header class="flex-center">
      <ion-card-title>{{ points }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
       <ion-icon slot="end" name="trophy"></ion-icon>
    </ion-card-content>
  </ion-card>

</ion-content>